.min-h-screen.flex.items-center.justify-center.py-12.px-4{class: "sm:px-6 sm:bg-purple-600 lg:px-8"}
  .max-w-md.w-full.space-y-8.bg-white.p-8.rounded-xl{class: "sm:shadow"}
    %div
      %h2.loginTitle.py-4 Pedir info
      = render 'form'
      
    =# f.label :email, :class => "sr-only"
    
    =# f.email_field :email, autofocus: true, autocomplete: "email", :class => 'textBox', placeholder: "E-mail"
