.fondoGris.full-height
    .container
        .cuadroBlanco
            .content-center.text-center
                .logo=image_tag "logo_gris.png", width: '300px'

            -if user_signed_in?
                %p.font-2.font-sm.text-gray-900 Bienvenido
                .botonVerde
                    =link_to "Cerrar sesi칩n", destroy_user_session_path, method: :delete
            -else
                %p.font-2.font-sm.text-gray-900 Inici치 sesi칩n para acceder a los contenidos
                .botonVerde
                    =link_to "Iniciar sesi칩n", new_user_session_path
