-if notice
    .bg-yellow-400
        .max-w-7xl.mx-auto.py-3.px-3.sm:px-6.lg:px-8
            .flex.items-center.justify-between.flex-wrap
                .w-0.flex-1.flex.items-center
                    .ml-3.font-medium.text-white.truncate
                        %span
                            = notice
-if alert
    .bg-red-400
        .max-w-7xl.mx-auto.py-3.px-3.sm:px-6.lg:px-8
            .flex.items-center.justify-between.flex-wrap
                .w-0.flex-1.flex.items-center
                    .ml-3.font-medium.text-white.truncate
                        %span
                            = alert